ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #home ion-content { 
    --background: #ccc ;
}

ion-content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}



#parser div {
    margin:10px;
}

#chart div {
    margin:10px;
}

ion-segment-button {
    min-height: 25;
 
}

ion-icon {
    font-size: 10;
}

ion-label{
    font-size: 10;
    position: relative;
}

