
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1  {
    margin-top: 140px;
    font-size: 50px;
}


ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

