ion-content{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

#home ion-content { 
    --background: #ccc ;
}


#parser div {
    margin:10px;
}

#stats div {
    margin:10px;
}

ion-segment-button {
    min-height: 25;
 
}

ion-icon {
    font-size: 10;
}

ion-label{
    font-size: 10;
    position: relative;
}

